body,
html {
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 2%;
  background-color: #f8f8f8;
}

nav {
  display: flex;
  justify-content: space-evenly;
  padding: 4%;
  background-color: gray;
}

.hidden {
  display: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info {
  max-width: 600px;
  margin: 2% auto;
}

.info a {
  text-decoration: none;
}

.list-wrapper {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  background-color: #e7e7e7;
  border: 2px solid #bcbcbc;
  border-radius: 6px;
  padding: 2%;
  margin: 2% auto;
}

#taskInput {
  width: 100%;
  padding: 2.5% 2.5% 0.5% 2.5%;
  border: 2px solid #bcbcbc;
  border-radius: 6px;
  color: #6593a6;
  font-size: 1.1em;
  letter-spacing: 0.8px;
}

#taskInput:focus {
  border: 2px solid #bcbcbc;
  border-radius: 2px;
  outline: none;
}

select {
  width: 100px;
  margin: 2% 1%;
}

#priorityIcon {
  width: 16px;
  height: 16px;
  font-size: 0.7em;
  text-align: center;
  margin-right: 2%;
  border-radius: 50%;
  border: 1px solid #797979;
  color: #797979;
  cursor: pointer;
  text-decoration: none;
}

#priorityIcon.priority {
  color: #ffa91a;
  border: 1px solid #4d4d4d;
  font-weight: bold;
}

.add-btn {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 2.5%;
  margin-left: 4%;
  border: 2px solid #ffa91a;
  position: relative;
  overflow: hidden;
  background-color: #f2f2f2;
  text-align: center;
  transition: 0.3s;
  z-index: 1;
  font-size: 1.2em;
  color: #ffa91a;
}

.add-btn::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background: #ffa91a;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.add-btn:hover::before {
  width: 110%;
}

.add-btn:hover {
  color: #f2f2f2;
  cursor: pointer;
}

.task-list {
  padding: 0;
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-bottom: 5px double #6593a6;
  padding: 2%;
  word-wrap: anywhere;
  font-size: 1.1em;
}

.task p {
  width: 80%;
  margin: 0 auto;
  margin-left: 2%;
}

.complete {
  text-decoration: line-through 1px #ffa91a;
}

.delete-container {
  display: flex;
  align-items: center;
  position: relative;
}

#trashIcon {
  width: 24px;
  color: #b73d3d;
}

/* Hide checkboxes. Remove margins for positioning. */
#completeCheckbox {
  width: 20px;
  height: 20px;
  margin: 0;
  opacity: 0;
}

#deleteCheckbox {
  width: 24px;
  height: 24px;
  margin: 0;
  position: absolute;
  opacity: 0;
}

#completeCheckbox:hover,
#deleteCheckbox:hover {
  cursor: pointer;
}

.add-btn:focus {
  outline: none;
  font-size: 1.4em;
  background-color: #ffa91a;
  color: #f2f2f2;
}

.complete-container:focus-within,
.delete-container:focus-within {
  animation: shift 1s ease-in-out forwards;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.task-checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #ffa91a;
  border-radius: 2px;
}

.checked-task {
  position: relative;
  z-index: 0;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  overflow: hidden;
}

.checked-task::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #ffa91a;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%; /* Split border (background) into 4 parts. */
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#ffa91a, #ffa91a),
    linear-gradient(#6593a6, #6593a6), linear-gradient(#6593a6, #6593a6),
    linear-gradient(#6593a6, #6593a6);
  animation: rotate 1s linear forwards;
}

/* Inner box */
.checked-task::after {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  content: "✓";
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  margin: 2px;
  width: 80%;
  height: 80%;
  background: #e7e7e7;
  animation: checked 1s linear forwards;
  visibility: hidden;
}

/* Animation & styles for checked box. */
@keyframes rotate {
  25% {
    background-image: linear-gradient(#e7e7e7, #e7e7e7),
      linear-gradient(#6593a6, #6593a6), linear-gradient(#ffa91a, #ffa91a),
      linear-gradient(#6593a6, #6593a6);
  }

  50% {
    background-image: linear-gradient(#e7e7e7, #e7e7e7),
      linear-gradient(#e7e7e7, #e7e7e7), linear-gradient(#ffa91a, #ffa91a),
      linear-gradient(#6593a6, #6593a6);
  }

  75% {
    background-image: linear-gradient(#e7e7e7, #e7e7e7),
      linear-gradient(#e7e7e7, #e7e7e7), linear-gradient(#e7e7e7, #e7e7e7),
      linear-gradient(#6593a6, #6593a6);
  }

  100% {
    background-image: linear-gradient(#e7e7e7, #e7e7e7),
      linear-gradient(#e7e7e7, #e7e7e7), linear-gradient(#e7e7e7, #e7e7e7),
      linear-gradient(#e7e7e7, #e7e7e7);
    transform: rotate(270deg);
  }
}

@keyframes checked {
  100% {
    visibility: visible;
  }
}

@keyframes shift {
  50% {
    transform: rotate(25deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
